.section{
  
}
.nav{
  
}
/* .nav>*{
  width: 100%;
} */
.nav ul{
  display: flex;
  justify-content: space-between;
  
}
.nav p{
  color: #878d92;
}
.li{
  list-style: none; 
}
.li:hover a{
  color: white;
}
.li a{
  text-decoration: none;
  background-color: #878d92;
  color: #e3e3cd;
  padding: 0 5px;
}
.maxwidth500px{
  max-width: 500px;
  margin: auto;
}
